
x64/Release/vcpkg.applocal.log
x64/Release/Raytracer.vcxproj.FileListAbsolute.txt
x64/Release/Raytracer.tlog/Raytracer.lastbuildstate
x64/Release/Raytracer.tlog/link.write.2u.tlog
x64/Release/Raytracer.tlog/link.write.1.tlog
x64/Release/Raytracer.tlog/link.read.1.tlog
x64/Release/Raytracer.tlog/link.command.1.tlog
x64/Release/Raytracer.tlog/CudaCompile.write.1u.tlog
x64/Release/Raytracer.tlog/CudaCompile.read.1u.tlog
x64/Release/Raytracer.pdb
x64/Release/Raytracer.log
x64/Release/Raytracer.lib
x64/Release/Raytracer.exp
x64/Release/Raytracer.exe.recipe
x64/Release/Raytracer.exe
x64/Release/Raytracer.Build.CppClean.log
x64/Release/output_image.ppm
x64/Release/main.cu1554121428.deps
x64/Release/main.cu.obj
x64/Release/main.cu.cache
x64/Release/data.json
x64/Debug/vcpkg.applocal.log
x64/Debug/vc143.pdb
x64/Debug/Raytracer.vcxproj.FileListAbsolute.txt
x64/Debug/Raytracer.tlog/Raytracer.lastbuildstate
x64/Debug/Raytracer.tlog/link.write.2u.tlog
x64/Debug/Raytracer.tlog/link.write.1.tlog
x64/Debug/Raytracer.tlog/link.read.1.tlog
x64/Debug/Raytracer.tlog/link.command.1.tlog
x64/Debug/Raytracer.tlog/CudaCompile.write.1u.tlog
x64/Debug/Raytracer.tlog/CudaCompile.read.1u.tlog
x64/Debug/Raytracer.pdb
x64/Debug/Raytracer.log
x64/Debug/Raytracer.lib
x64/Debug/Raytracer.ilk
x64/Debug/Raytracer.exp
x64/Debug/Raytracer.exe.recipe
x64/Debug/Raytracer.exe
x64/Debug/output_image.ppm
x64/Debug/main.cu1554121428.deps
x64/Debug/main.cu.obj
x64/Debug/main.cu.cache
x64/Debug/data.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Raytracer/v17/Solution.VC.db
.vs/Raytracer/v17/ipch/AutoPCH/f558455cb307d3c3/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/f0722cdf3543cea6/JSONPARSER.ipch
.vs/Raytracer/v17/ipch/AutoPCH/e8cc133197950af8/RANDOM.ipch
.vs/Raytracer/v17/ipch/AutoPCH/da9151815a09d0f7/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/d40bde3854fb1f38/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/d12d3c099e300b4/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/b3a74fde907d0d18/OBJECT.ipch
.vs/Raytracer/v17/ipch/AutoPCH/a2fd993ba627d9b3/VCTMP12588_604883.MAIN.00000000.ipch
.vs/Raytracer/v17/ipch/AutoPCH/930d36f1b0ca9be2/SPHERE.ipch
.vs/Raytracer/v17/ipch/AutoPCH/700422ca5553cb76/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/6bf60de37081aa8d/RAY.ipch
.vs/Raytracer/v17/ipch/AutoPCH/66cc845dc6688318/VECTOR.ipch
.vs/Raytracer/v17/ipch/AutoPCH/5d0880fe9c63e446/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/4a928db7db32cdc1/GLASS.ipch
.vs/Raytracer/v17/ipch/AutoPCH/24f0330fdf1db98a/CUBE.ipch
.vs/Raytracer/v17/ipch/AutoPCH/16cdd23808ae6435/MAIN.ipch
.vs/Raytracer/v17/Browse.VC.opendb
.vs/Raytracer/v17/Browse.VC.db-wal
.vs/Raytracer/v17/Browse.VC.db-shm
.vs/Raytracer/v17/Browse.VC.db
.vs/Raytracer/v17/.suo
.vs/Raytracer/FileContentIndex/cdfab4f6-a14d-4fdf-9ff7-8bd99e4c7b81.vsidx
.vs/Raytracer/FileContentIndex/ca13dde9-7e6c-45fb-9e10-6afe6b2b3b58.vsidx
.vs/Raytracer/FileContentIndex/9a00c462-1f70-477b-b97e-c7317eb491c6.vsidx
.vs/Raytracer/FileContentIndex/4bcac073-f99b-4b23-87e3-c9c9df24eb5b.vsidx
.vs/Raytracer/FileContentIndex/11c0736d-7179-4683-bf9b-602d67bcd2be.vsidx
.vs/Raytracer/FileContentIndex/11c0736d-7179-4683-bf9b-602d67bcd2be.vsidx
.vs/Raytracer/FileContentIndex/24015cfe-17da-4854-b5e5-6bd6e3e8812c.vsidx
.vs/Raytracer/FileContentIndex/485de5c5-7e7d-47fe-99d3-55502c7f5152.vsidx
.vs/Raytracer/FileContentIndex/4bcac073-f99b-4b23-87e3-c9c9df24eb5b.vsidx
.vs/Raytracer/FileContentIndex/e990cbb7-537a-4308-8558-a0444c4d06e2.vsidx
.vs/Raytracer/v17/.suo
.vs/Raytracer/v17/Browse.VC.db
.vs/Raytracer/v17/Browse.VC.db-shm
.vs/Raytracer/v17/Browse.VC.db-wal
.vs/Raytracer/v17/Browse.VC.opendb
.vs/Raytracer/v17/ipch/AutoPCH/16cdd23808ae6435/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/24f0330fdf1db98a/CUBE.ipch
.vs/Raytracer/v17/ipch/AutoPCH/4a928db7db32cdc1/GLASS.ipch
.vs/Raytracer/v17/ipch/AutoPCH/5d0880fe9c63e446/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/66cc845dc6688318/VECTOR.ipch
.vs/Raytracer/v17/ipch/AutoPCH/6bf60de37081aa8d/RAY.ipch
.vs/Raytracer/v17/ipch/AutoPCH/700422ca5553cb76/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/930d36f1b0ca9be2/SPHERE.ipch
.vs/Raytracer/v17/ipch/AutoPCH/a2fd993ba627d9b3/VCTMP12588_604883.MAIN.00000000.ipch
.vs/Raytracer/v17/ipch/AutoPCH/d12d3c099e300b4/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/d40bde3854fb1f38/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/da9151815a09d0f7/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/e8cc133197950af8/RANDOM.ipch
.vs/Raytracer/v17/ipch/AutoPCH/f0722cdf3543cea6/JSONPARSER.ipch
.vs/Raytracer/v17/ipch/AutoPCH/f558455cb307d3c3/EXE_COMMON.ipch
.vs/Raytracer/v17/Solution.VC.db
x64/Debug/data.json
x64/Debug/main.cu.cache
x64/Debug/main.cu.obj
x64/Debug/main.cu1554121428.deps
x64/Debug/output_image.ppm
x64/Debug/Raytracer.exe
x64/Debug/Raytracer.exe.recipe
x64/Debug/Raytracer.exp
x64/Debug/Raytracer.ilk
x64/Debug/Raytracer.lib
x64/Debug/Raytracer.log
x64/Debug/Raytracer.pdb
x64/Debug/Raytracer.tlog/CudaCompile.read.1u.tlog
x64/Debug/Raytracer.tlog/CudaCompile.write.1u.tlog
x64/Debug/Raytracer.tlog/link.command.1.tlog
x64/Debug/Raytracer.tlog/link.read.1.tlog
x64/Debug/Raytracer.tlog/link.write.1.tlog
x64/Debug/Raytracer.tlog/link.write.2u.tlog
x64/Debug/Raytracer.tlog/Raytracer.lastbuildstate
x64/Debug/Raytracer.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.pdb
x64/Debug/vcpkg.applocal.log
x64/Release/data.json
x64/Release/main.cu.cache
x64/Release/main.cu.obj
x64/Release/main.cu1554121428.deps
x64/Release/output_image.ppm
x64/Release/Raytracer.Build.CppClean.log
x64/Release/Raytracer.exe
x64/Release/Raytracer.exe.recipe
x64/Release/Raytracer.exp
x64/Release/Raytracer.lib
x64/Release/Raytracer.log
x64/Release/Raytracer.pdb
x64/Release/Raytracer.tlog/CudaCompile.read.1u.tlog
x64/Release/Raytracer.tlog/CudaCompile.write.1u.tlog
x64/Release/Raytracer.tlog/link.command.1.tlog
x64/Release/Raytracer.tlog/link.read.1.tlog
x64/Release/Raytracer.tlog/link.write.1.tlog
x64/Release/Raytracer.tlog/link.write.2u.tlog
x64/Release/Raytracer.tlog/Raytracer.lastbuildstate
x64/Release/Raytracer.vcxproj.FileListAbsolute.txt
x64/Release/vcpkg.applocal.log
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/Raytracer/v17/ipch/AutoPCH/b3a74fde907d0d18/OBJECT.ipch
.vs/Raytracer/FileContentIndex/ca13dde9-7e6c-45fb-9e10-6afe6b2b3b58.vsidx
.vs/Raytracer/FileContentIndex/9a00c462-1f70-477b-b97e-c7317eb491c6.vsidx
.vs/Raytracer/FileContentIndex/92d01e83-d287-4b16-9ae7-cc14121cc41c.vsidx
