
.vs/Raytracer/FileContentIndex/11c0736d-7179-4683-bf9b-602d67bcd2be.vsidx
.vs/Raytracer/FileContentIndex/a998ebc8-c6f1-4c08-8475-56d9d0893634.vsidx
.vs/Raytracer/v17/.suo
.vs/Raytracer/v17/Browse.VC.db
.vs/Raytracer/v17/Browse.VC.db-shm
.vs/Raytracer/v17/Browse.VC.db-wal
.vs/Raytracer/v17/Browse.VC.opendb
.vs/Raytracer/v17/ipch/AutoPCH/16cdd23808ae6435/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/4a928db7db32cdc1/GLASS.ipch
.vs/Raytracer/v17/ipch/AutoPCH/66cc845dc6688318/VECTOR.ipch
.vs/Raytracer/v17/ipch/AutoPCH/6bf60de37081aa8d/RAY.ipch
.vs/Raytracer/v17/ipch/AutoPCH/930d36f1b0ca9be2/SPHERE.ipch
.vs/Raytracer/v17/ipch/AutoPCH/e8cc133197950af8/RANDOM.ipch
.vs/Raytracer/v17/ipch/AutoPCH/f0722cdf3543cea6/JSONPARSER.ipch
x64/Release/main.cu.cache
x64/Release/main.cu.obj
x64/Release/main.cu1554121428.deps
x64/Release/Raytracer.Build.CppClean.log
x64/Release/Raytracer.exe
x64/Release/Raytracer.exe.recipe
x64/Release/Raytracer.exp
x64/Release/Raytracer.lib
x64/Release/Raytracer.log
x64/Release/Raytracer.pdb
x64/Release/Raytracer.tlog/CudaCompile.read.1u.tlog
x64/Release/Raytracer.tlog/CudaCompile.write.1u.tlog
x64/Release/Raytracer.tlog/link.command.1.tlog
x64/Release/Raytracer.tlog/link.read.1.tlog
x64/Release/Raytracer.tlog/link.write.1.tlog
x64/Release/Raytracer.tlog/link.write.2u.tlog
x64/Release/Raytracer.tlog/Raytracer.lastbuildstate
x64/Release/Raytracer.vcxproj.FileListAbsolute.txt
x64/Release/vcpkg.applocal.log
.vs/Raytracer/FileContentIndex/4bcac073-f99b-4b23-87e3-c9c9df24eb5b.vsidx
.vs/Raytracer/FileContentIndex/58dbdc42-5e9e-4694-9ce8-517fa2edbde5.vsidx
.vs/Raytracer/FileContentIndex/61ed876e-73aa-4860-9e58-13653eea9000.vsidx
.vs/Raytracer/FileContentIndex/e2365c6f-869d-4e88-a783-1ffa4a412c13.vsidx
.vs/Raytracer/v17/ipch/AutoPCH/24f0330fdf1db98a/CUBE.ipch
.vs/Raytracer/v17/ipch/AutoPCH/5d0880fe9c63e446/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/d12d3c099e300b4/MAIN.ipch
.vs/Raytracer/v17/ipch/AutoPCH/d40bde3854fb1f38/EXE_COMMON.ipch
.vs/Raytracer/v17/ipch/AutoPCH/da9151815a09d0f7/EXE_COMMON.ipch
.vs/Raytracer/v17/Solution.VC.db
x64/Debug/Raytracer.tlog/CudaCompile.read.1u.tlog
x64/Debug/Raytracer.tlog/CudaCompile.write.1u.tlog
x64/Debug/Raytracer.tlog/link.command.1.tlog
x64/Debug/Raytracer.tlog/link.read.1.tlog
x64/Debug/Raytracer.tlog/link.write.1.tlog
x64/Debug/Raytracer.tlog/link.write.2u.tlog
x64/Debug/Raytracer.tlog/Raytracer.lastbuildstate
x64/Debug/Raytracer.vcxproj.FileListAbsolute.txt
x64/Debug/vc143.pdb
x64/Debug/vcpkg.applocal.log
x64/Debug/Raytracer.pdb
x64/Debug/Raytracer.log
x64/Debug/Raytracer.lib
x64/Debug/Raytracer.ilk
x64/Debug/Raytracer.exp
x64/Debug/Raytracer.exe.recipe
x64/Debug/Raytracer.exe
x64/Debug/main.cu1554121428.deps
x64/Debug/main.cu.obj
x64/Debug/main.cu.cache
.vs/Raytracer/FileContentIndex/3566d4ac-6bec-4559-9bf0-a7c9909414b9.vsidx
